image:
  repository: bitnami/spark
  tag: 3.5.2-debian-12-r1
master:
  resources:
    limits:
      cpu: 4
      memory: 8Gi
    requests:
      cpu: 1
      memory: 2Gi
worker:
  replicaCount: 15
  resources:
    limits:
      cpu: 4
      memory: 8Gi
    requests:
      cpu: 1
      memory: 2Gi
