apiVersion: apps/v1
kind: Deployment
metadata:
  name: dmi-producer
  namespace: bd-bd-gr-02
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dmi-producer
  template:
    metadata:
      labels:
        app: dmi-producer
    spec:
      containers:
        - name: dmi-producer
          image: python:3.12-slim
          workingDir: /app
          command: ["bash", "-lc"]
          args:
            - >
              pip install --no-cache-dir confluent-kafka requests python-dateutil &&
              mkdir -p /data &&
              python /app/dmi-forecast_producer.py
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"
            - name: KAFKA_TOPIC
              value: "meterological_observations"
            - name: API_URL
              value: "https://dmigw.govcloud.dk/v2/metObs/collections/observation/items"
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: dmi-api-key
                  key: API_KEY
            - name: POLL_SECONDS
              value: "20"
          volumeMounts:
            - name: producer-code
              mountPath: /app
            - name: state-volume
              mountPath: /data
      volumes:
        - name: producer-code
          configMap:
            name: dmi-producer-configmap
            items:
              - key: dmi-forecast_producer.py
                path: dmi-forecast_producer.py
        - name: state-volume
          emptyDir: {}
