apiVersion: apps/v1
kind: Deployment
metadata:
  name: energy-producer
  namespace: bd-bd-gr-02
spec:
  replicas: 1
  selector:
    matchLabels:
      app: energy-producer
  template:
    metadata:
      labels:
        app: energy-producer
    spec:
      containers:
        - name: energy-producer
          image: python:3.12-slim
          workingDir: /app
          command: ["bash", "-lc"]
          args:
            - >
              pip install --no-cache-dir confluent-kafka requests python-dateutil &&
              mkdir -p /data &&
              python /app/energynet-producer.py
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"
            - name: KAFKA_TOPIC
              value: "energy_data"
            - name: API_URL
              value: "https://api.energidataservice.dk/dataset/PrivateConsumptionHeatingHour"
            - name: POLL_SECONDS
              value: "70"
          volumeMounts:
            - name: producer-code
              mountPath: /app
            - name: state-volume
              mountPath: /data
      volumes:
        - name: producer-code
          configMap:
            name: energy-producer-configmap
            items:
              - key: energynet-producer.py
                path: energynet-producer.py
        - name: state-volume
          persistentVolumeClaim:
            claimName: energynet-producer-state-pvc

