apiVersion: v1
kind: Service
metadata:
  name: backend-api-service
  labels:
    app: backend-api
spec:
  type: LoadBalancer
  selector:
    app: backend-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
    name: http
  - protocol: TCP
    port: 3000
    targetPort: 3000
    name: socket-io